* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
}

.header, .nav-box, .circle, .icon-box, .icon-box ul li, h4, .content-box, .box-box, .box-box dl dt, .box-box dl dd, .dl-box dl dt, .nav ul, .nav ul li, .footer, .footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 1.2rem;
  background: #171C1F;
  justify-content: space-between;
  padding: 0 0.26667rem;
}

.header span {
  color: #fff;
  font-size: 0.42667rem;
}

.header span:nth-child(2) {
  width: 2.66667rem;
  height: 0.93333rem;
}

.header span:nth-child(2) img {
  width: 100%;
  height: 100%;
}

.nav-box {
  width: 100%;
  height: 1.06667rem;
  background: #eee;
  justify-content: space-between;
  padding: 0 0.26667rem;
  position: relative;
}

.nav-box span {
  font-size: 0.42667rem;
}

.nav-box span:nth-child(2) {
  position: relative;
}

.nav-box span:nth-child(2) input {
  text-align: center;
  font-size: 0.37333rem;
  width: 8rem;
  height: 0.66667rem;
  border: 1px solid;
}

.nav-box span:nth-child(2) b {
  position: absolute;
  top: 0.13333rem;
  left: 1.6rem;
  font-size: 0.42667rem;
  color: #ccc;
}

.main {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
}

.btn {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  right: 3%;
  background: lightgreen;
  text-align: center;
  font-size: 0.26667rem;
  color: #fff;
  line-height: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.loading {
  position: absolute;
  top: -0.93333rem;
  left: 30%;
  width: 0.66667rem;
  height: 0.66667rem;
  border-radius: 50%;
  transform: rotate(45deg);
  z-index: 10;
  animation: circle 2s infinite;
}

@keyframes circle {
  0% {
  }
  25% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

.loading::before {
  content: "";
  width: 0.26667rem;
  height: 0.26667rem;
  display: block;
  border-radius: 50%;
  background: pink;
}

.loading:nth-child(2) {
  z-index: 9;
  animation-delay: 100ms;
}

.loading:nth-child(2)::before {
  content: "";
  width: 0.21333rem;
  height: 0.21333rem;
  display: block;
  border-radius: 50%;
  background: linear-gradient(to right, red, green, yellow);
}

.loading:nth-child(3) {
  z-index: 8;
  animation-delay: 200ms;
}

.loading:nth-child(3)::before {
  content: "";
  width: 0.16rem;
  height: 0.16rem;
  display: block;
  border-radius: 50%;
  background: linear-gradient(to right, red, white, yellow);
}

.loading:nth-child(4) {
  z-index: 8;
  animation-delay: 300ms;
}

.loading:nth-child(4)::before {
  content: "";
  width: 0.10667rem;
  height: 0.10667rem;
  display: block;
  border-radius: 50%;
  background: linear-gradient(to right, orange, white, yellow);
}

.content {
  scroll-behavior: smooth;
}

.content::before {
  content: attr(data-top);
  display: block;
  width: 100%;
  height: 1.06667rem;
  background: khaki;
  font-size: 0.42667rem;
  text-align: center;
  line-height: 1.06667rem;
  position: absolute;
  top: -1.06667rem;
  left: 0;
}

.content::after {
  content: attr(data-bottom);
  display: block;
  width: 100%;
  height: 1.06667rem;
  background: khaki;
  font-size: 0.42667rem;
  text-align: center;
  line-height: 1.2rem;
}

.circle {
  width: 3.2rem;
  height: 0.8rem;
  position: absolute;
  bottom: 0.13333rem;
  left: 10%;
}

.circle .box {
  width: 0.53333rem;
  height: 0.53333rem;
  border-radius: 50%;
  border: 1px solid;
  animation: all 1s linear infinite alternate;
}

.circle .box:nth-child(1) {
  background: red;
}

.circle .box:nth-child(2) {
  background: pink;
  animation-delay: 500ms;
}

.circle .box:nth-child(3) {
  background: yellow;
  animation-delay: 1s;
}

.circle .box:nth-child(4) {
  background: green;
  animation-delay: 1500ms;
}

@keyframes all {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.swiper-container {
  width: 100%;
  height: 4rem;
}

.swiper-container .swiper-wrapper {
  width: 500%;
  height: 100%;
  display: flex;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 20%;
  height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.icon-box {
  width: 100%;
  height: 5.86667rem;
  flex-wrap: wrap;
}

.icon-box ul {
  width: 20%;
}

.icon-box ul li {
  margin: 0.13333rem 0;
}

.img-box {
  width: 100%;
  height: 3.2rem;
}

.img-box img {
  width: 100%;
  height: 100%;
}

h4 {
  width: 100%;
  height: 0.8rem;
  font-size: 0.42667rem;
}

.content-box {
  width: 100%;
  height: 4rem;
  justify-content: space-between;
}

.content-box img {
  width: 100%;
  height: 100%;
}

.box-box {
  width: 100%;
  height: 4rem;
}

.box-box dl {
  flex: 1;
}

.box-box dl dt {
  margin: 0.13333rem 0;
}

.box-box dl:nth-child(1) dd:nth-child(2) span {
  padding: 0.08rem 0.13333rem;
  border: 1px solid skyblue;
  color: skyblue;
}

.box-box dl:nth-child(2) dd:nth-child(2) span {
  padding: 0.08rem 0.13333rem;
  border: 1px solid orange;
  color: orange;
}

.box-box dl:nth-child(3) dd:nth-child(2) span {
  padding: 0.08rem 0.13333rem;
  border: 1px solid red;
  color: red;
}

.dl-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dl-box dl {
  width: 100%;
  height: 4rem;
  display: flex;
}

.dl-box dl dt {
  flex: 3;
}

.dl-box dl dt img {
  width: 2.66667rem;
  height: 3.46667rem;
  border-radius: 0.26667rem;
}

.dl-box dl dd:nth-child(2) {
  flex: 5;
  margin-top: 0.53333rem;
}

.dl-box dl dd:nth-child(2) p {
  margin: 0.26667rem 0;
}

.dl-box dl dd:nth-child(2) p:last-child {
  margin-top: 0.4rem;
  color: red;
}

.dl-box dl dd:nth-child(3) {
  flex: 2;
  margin-top: 0.93333rem;
}

.nav {
  width: 100%;
  height: 1.06667rem;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  line-height: 1.06667rem;
  position: sticky;
  left: 0;
  top: 0;
}

.nav ul li {
  flex: 1;
}

.fixed {
  position: fixed;
  top: 2.66667rem;
  left: 0;
  z-index: 5;
}

.active {
  color: red;
}

.footer {
  width: 100%;
  height: 1.2rem;
  border-top: 1px solid;
}

.footer ul {
  flex: 1;
}

.footer ul li {
  font-size: 0.42667rem;
}
